* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
  width: 100%;
}

@media (max-width: 815px) {
  html {
    font-size: 8.5px;
  }
}

@media (max-width: 730px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 5.5px;
  }
}

@media (max-width: 300px) {
  html {
    font-size: 5.25px;
  }
}
